{{!< default}}

{{#post}}

<div class="row {{post_class}}">
  <div class="span-4">
    <header class="main_header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
      <div class="main_mask"></div>
      <h1 class="post_title">{{title}}</h1>
    </header>

    <article class="main_article">
      <section class="post_content">
        {{content}}
      </section>
    </article>
  </div>
  <div class="span-1"></div>
</div>

{{/post}}
